<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="trade in trades | orderBy:sortField:sortDescending">
    <div class="thumbnail">
        <div class="caption">
            <h4>
                <in-place-edit field-name='time' input-type='text' input-class='input-medium' model=trade>{{trade.time}}</in-place-edit>
            </h4>

            <h4>
                <in-place-edit field-name='ticker' input-type='text' input-class='input-medium' model=trade>{{trade.ticker}}</in-place-edit>
            </h4>

            <h5>
                <in-place-edit field-name='num_share' input-type='text' input-class='input-small' model=trade>{{trade.num_share}}</in-place-edit>
            </h5>

            <h5>
                <in-place-edit field-name='price' input-type='text' input-class='input-small' model=trade>{{trade.price}}</in-place-edit>
            </h5>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateTrade(trade)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteTrade(trade)">delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
