<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Trade Title</th>
            <th>Ticker</th>
            <th>Number of Shares</th>
            <th>Price per Share</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in trades | orderBy:sortField:sortDescending">
            <td>
                <in-place-edit field-name='time' input-type='text' input-class='input-large' model=trade>{{trade.time}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='ticker' input-type='artist' input-class='input-large' model=trade>{{trade.ticker}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='num_shares' input-type='text' input-class='input-small' model=trade>{{trade.num_shares}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='price' input-type='text' input-class='input-medium' model=trade>{{trade.price}}</in-place-edit>
            </td>
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateTrade(trade)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteTrade(trade)">delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
