<div class="modal-header">
    <h3 ng-show="tradeAction === 'add'">Add an trade</h3>
    <h3 ng-show="tradeAction === 'update'">Edit an trade</h3>
</div>
<div class="modal-body">
    <form name="tradeForm" role="form">
        <div class="form-group has-feedback" ng-class="{'has-warning': tradeForm.time.$invalid, 'has-success': tradeForm.time.$valid}">
            <label for="time">Trade Time</label>
            <input type="text" class="form-control input-large" id="time" name="time" required ng-model="trade.time">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign': tradeForm.time.$invalid, 'glyphicon-ok': tradeForm.time.$valid}"></span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-warning': tradeForm.ticker.$invalid, 'has-success': tradeForm.ticker.$valid}">
            <label for="ticker">Ticker</label>
            <input type="text" class="form-control input-large" id="ticker" name="ticker" required ng-model="trade.ticker">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign': tradeForm.ticker.$invalid, 'glyphicon-ok': tradeForm.ticker.$valid}"></span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-warning': tradeForm.num_shares.$invalid, 'has-success': tradeForm.num_shares.$valid}">
            <label for="num_shares">Share Qty</label>
            <input type="text" class="form-control input-small" id="num_shares" name="num_shares" required ng-model="trade.num_shares">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign': tradeForm.num_shares.$invalid, 'glyphicon-ok': tradeForm.num_shares.$valid}"></span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-warning': tradeForm.price.$invalid, 'has-success': tradeForm.price.$valid}">
            <label for="price">Share Price</label>
            <input type="text" class="form-control input-medium" id=price name="price" required ng-model="trade.price">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign': tradeForm.price.$invalid, 'glyphicon-ok': tradeForm.price.$valid}"></span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-md active" ng-disabled="tradeForm.$invalid" ng-click="ok()" >OK</button>
    <button class="btn btn-warning btn-md active" ng-click="cancel()">Cancel</button>
</div>
