<div id="trades" ng-init="init()">
    <div class="page-header">
        <h1>Trades</h1>
        <div>
            <span> [ view as: </span>
            <a href="" ng-click="setTradesView('list')"><span class="glyphicon glyphicon-th-list"></span></a>
            <a href="" ng-click="setTradesView('grid')"><span class="glyphicon glyphicon-th"></span></a>
            <span> | sort by: </span>
            <a href="" ng-click="sortField='time'">time</a>
            <a href="" ng-click="sortField='ticker'">ticker</a>
            <a href="" ng-click="sortField='num_shares'">num_shares</a>
            <a href="" ng-click="sortField='price'">price</a>
            <a href="" ng-click="sortDescending=!sortDescending">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : !sortDescending, 'glyphicon-chevron-down' : sortDescending}"></span>
            </a>
            <span> | </span>
            <a href="" ng-click="addTrade()"><span class="glyphicon glyphicon-plus"></span>add an trade</a>
            <span> ] </span>
        </div>
    </div>

    <div class="row">
        <div ng-include src="'templates/status.html'"></div>
    </div>

    <div class="row multi-columns-row">
        <div ng-include src="tradesView"></div>
    </div>
</div>
